[submodule "comp-one"]
	path = comp-one
	url = https://github.com/mm185615/comp-one
	branch = feature_branch
[submodule "comp-two"]
	path = comp-two
	url = https://github.com/mm185615/comp-two
	branch = feature_branch
